@font-face {
  font-family: 'Mont';
  src: url('../../styles/fonts/Mont-Black.eot');
}

.pagination {
  user-select: none;

  display: flex;
  justify-content: center;
  
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 8px;

  &__arrow {
    cursor: pointer;

    position: relative;

    background: #323542;
    width: 32px;
    height: 32px;

    transition: background-color .3s;

    &:hover {
      background-color: #4A4D58;
    }

    &--disable {
      border: 1px solid #3B3E4A;
      background-color: rgba($color: #000000, $alpha: 0);

      width: 30px;
      height: 30px;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0);
      }

      &::before {
        opacity: 50%;
      }
    }

    &--left {
      margin-right: 8px;

      &:before {
        content: '';
  
        display: block;
        width: 16px;
        height: 16px;
  
        position: absolute;
  
        background-image: url(../../../public/images/left-pagination-arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
  
        left: 50%;
        top: 50%;
  
        transform: translate(-50%, -50%);
      }
    }

    &--right {
      margin-left: 8px;

      &:before {
        content: '';
  
        display: block;
        width: 16px;
        height: 16px;
  
        position: absolute;
  
        background-image: url(../../../public/images/right-pagination-arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
  
        left: 50%;
        top: 50%;
  
        transform: translate(-50%, -50%);
      }
    }
  }

  &__page-link {
    cursor: pointer;
  
    background: #161827;
    width: 32px;
    height: 32px;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    color: #F1F2F9;

    text-align: center;

    &:hover {
      background-color: #3B3E4A;
      transition: background-color .3s;
    }

    &--active {
      background-color: #905BFF;

      &:hover {
        background-color: #905Bff;
      }
    }
  }
}