@import "../../styles/vars/vars.scss";
@import '../../styles/mixins/mixins';

.homepage {
  margin: 0 16px 24px;

  @include tablet {
    margin: 0 24px 24px;
  }

  @include desktop {
    margin: 0 32px 24px;
  }

  &__title {
    color: $white;
    margin: 0 auto 56px;
  }
}
