@import '../../styles/mixins/mixins';
@import '../../styles/vars/vars.scss';

.path {
  margin: 0 auto 24px;

  @include tablet {
    margin: 0 auto 40px;
  }

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &__name {
    font-family: 'Mont';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px;


    &--color-white {
      color: $white;
    }

    &--color-grey {
      color: $secondary;
    }
  }

  &__img {
    &-arrow {
      margin-left: 8px;
    }
  }
}
