@import "../../styles/vars/vars.scss";

.card {
  max-width: 272px;
  max-height: 506px;
  padding: 32px;

  background-color: $surface-1;

  &__image-container {
    display: flex;
    justify-content: center;

    height: 200px;

    margin-bottom: 24px;
  }

  &__image {
    height: 100%;
  }

  &__title {
    margin:  0  0 10px;
    padding: 0;

    text-align: left;

    font-family: Mont;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;

    color: $white;
  }

  &__price-container {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 8px;

    gap: 8px;
  }

  &__current-price {
    padding: 0px;
    margin: 0px;

    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    color: $white;
  }

  &__full-price {
    padding: 0px;
    margin: 0px;

    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-decoration-line: line-through;

    color: $secondary;
  }

  &__line {
    width: 100%;

    margin-bottom: 8px;

    border: 1px solid $elements;
  }

  &__info-container {
    margin-bottom: 12px;

    padding: 8px 0;
  }

  &__info-raw {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__info-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: $secondary;
  }

  &__info-value {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: right;

    color: $white;
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 8px;
  }

  &__like-button {
    width: 40px;
    height: 40px;

    background-color: $surface-2;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../images/like.svg');

    transition: background-color 0.3s;

    border: 0;
    padding: 0;

    &--is-selected {
      border: 1px solid $elements;

      background-image: url('../../images/active-like.png');
    }

    &:hover {
      background-color: $icons;
    }
  }

  &__add-button {
    height: 40px;

    flex-grow: 1;

    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    text-align: center;

    color: $white;

    transition: background-color 0.3s;
    background-color: $accent;

    border: 0;
    padding: 0;

    &--is-selected {
      background-color: $surface-2;
    }

    &:hover {
      background-color: $hover-accent;
    }
  }
}
