@import '../../styles/mixins/mixins';

.favourites {
  flex: 1;
  margin: 0 16px 24px;

  @include tablet {
    margin: 0 24px 24px;
  }

  @include desktop {
    margin: 0 32px 24px;
  }

  &__title {
    grid-row: 1 / 2;

    margin: 0 0 8px;
    padding: 0;

    font-weight: 800;
    font-size: 32px;
    line-height: 41px;

    color: #F1F2F9;
  }

  &__product-count {
    grid-row: 2/3;

    margin: 0 0 32px;
    padding: 0;

    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #75767F;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 16px;
    max-width: 288px;
    margin-bottom: 56px;
    justify-content: start;

    @include tablet {
      max-width: 575px;
    }

    @media (min-width: 978px) {
      max-width: 896px;
    }

    @include desktop {
      max-width: 1136px;
    }
  }
}
