@import '../../styles/vars/vars.scss';
@import '../../styles/mixins/mixins';

.Carusel {
  max-width: 1136px;
  padding: 80px 0;
  margin: 0 auto;
  overflow: hidden;

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: $white;
    margin-bottom: 24px;
  }

  &__btns {
    display: flex;
    gap: 16px;
  }

  &__btn {
    width: 32px;
    height: 32px;
    background-color: $surface-2;
    border: 1px solid $elements;
    transition: background-color 0.3s;

    &:hover {
      border-color: $icons;
      background-color: $icons;
    }

    &__btn--off {
      border-color: $elements;
    }
  }

  &__img-off {
    opacity: 0.3;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }

  &__wrap {
    width: calc(100vw - 32px);

    @include tablet {
      width: calc(100vw - 48px);
    }

    @include desktop {
      width: calc(100vw - 64px);
    }
  }
}
