@import '../../styles/vars/vars.scss';
@import '../../styles/mixins/mixins';

.phones {
  display: flex;
  justify-content: center;
}

.phones-page {
  flex: 1;
  margin: 0 auto 24px;
  width: 100%;

  @include tablet {
    margin: 0 24px 24px;
  }

  @include desktop {
    margin: 0 0 24px;
  }
}

.products {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  &__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.01em;
    color: $white;
    margin-bottom: 8px;
  }

  &__filters {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
  }

  &__filter {
    width: 50%;

    &--left {
      @include tablet {
        width: 57%;
      }
    }

    &--right {
      @include tablet {
        width: 43%;
      }
    }
  }

  &__length {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $secondary;
    grid-row: 2 / 3;

    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__cards-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-row: 4 / 5;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 288px;
    gap: 40px 16px;
    margin-bottom: 24px;
    justify-content: start;

    @include tablet {
      width: 640px;
    }

    @media (min-width: 978px) {
      width: 896px;
    }

    @include desktop {
      width: 1200px;
    }
  }

  &__pagination-container {
    margin: 0 auto 64px;
  }
}
