@import '../../styles/vars/vars.scss';
@import '../../styles/mixins/mixins';

.products {
  &__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;

    letter-spacing: -0.01em;

    color: $white;
  }

  &__div {
    height: 50px;
    color: $white;
  }
}