@import './styles/fonts/stylesheet.scss';
@import './styles/vars/vars.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Mont';
  margin: 0;
  background-color: $bc-color;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
p,
img,
div {
  padding: 0;
  margin: 0;
}
@import './components/PageNotFound/PageNotFount.scss';
@import './styles/grids-templates/grid-templates.scss';
@import './components/Path/path.scss';
@import './components/ItemCard/ItemCard.scss';
@import './pages/Products/Products.scss';
